/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');

img {
   max-width: 30%;
   max-height: 50%;
   border-radius: 25px;
}

body {
   margin: 0px;
   padding: 0px;
   font-family: 'Tomorrow', sans-serif;
}

.home {
   display: flex;
   background: #00bce1;
   min-width: 100%;
   margin: 0px;
   padding: 0px;
   justify-content: space-between;
}

.navbar {
   display: flex;
   justify-content: flex-end;
}

.nav-btn {
   margin: 5px;
   display: block;
   height: fit-content;
}

/* .nav-btn:hover {
   color: white;
   background: black;
   height: 100%;
} */

.flexbox_col {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.flexbox_col2 {
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
}

a {
   text-decoration: none;
   color: black;
}
